:root {
    --fondo: #1a0e0e;
    --texto: #eac784;
    --boton-bg: #5e412f;
    --boton-hover: #8c6d4a;
    --bordes: #c9a66b;
    --val: #ff0000;
    --f11: #e2a22a;
}

body{
    background-color: black;
}


#pantalla {
    position: absolute;
    top: 55%;
    left: 43%;
    width: 57%;
    height: 75%;
    transform: translate(-50%, -50%) translate(12.5%, -5%);
    background-color: black;
    border-radius: 10px;
    z-index: 0;
}


#pantalla {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('pantalla.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100px;
    z-index: 1;
}


#volverBtn {
    cursor: pointer;
    position: absolute;
    font-family: 'Press Start 2P', monospace;
    bottom: 4%;
    left: 45.3%;
    font-size: 20px;
    color: var(--texto);
    text-decoration: none;
    border: 2px solid var(--bordes);
    background-color: var(--boton-bg);
    padding: 10px 20px;
    border-radius: 6px;
    display: inline-block;
    transition: background-color 0.3s, transform 0.2s;
    z-index: 2;
}

#volverBtn:hover {
    transform: scale(1.1);
    color: rgb(172, 173, 180);
    border-color: rgb(180, 172, 172);
}

.contenedorJuego {
    margin: 10%;
    margin-left: 9%;
    text-align: center;
}




@keyframes aparecer {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



.contenedorJuego h1{
    font-family: 'Press Start 2P', monospace;
    color: var(--texto);
    opacity: 0;
    animation: aparecer 5s forwards;
}

#magoGif {
    width: 200px;
    height: auto;
    image-rendering: pixelated;
    z-index: 1;
}



#start {
    position: absolute;
    bottom: 20%; 
    left: 45%;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Press Start 2P', monospace;
    color: var(--texto);
    border: 2px solid var(--bordes);
    background-color: var(--boton-bg);
    padding: 10px 20px;
    border-radius: 6px;
    display: inline-block; 
    z-index: 3;
}

#start:hover {
    background-color: var(--boton-hover);
    transform: scale(1.05);
}


.mute {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    color: var(--texto);
    font-size: 12px;
    font-family: 'Press Start 2P', monospace;
}


.mute p {
    margin: 0;
}

.mute button {
    border: none;
    cursor: pointer;
    padding: 0;
}

.mute button img.altavoz {
    display: block;
    width: 40px;
    height: auto;
    transition: transform 0.2s ease;
}

.altavoz {
    cursor: pointer;
}

button {
    background-color: #754121;
    color: var(--texto);
    padding: 12px;
    border: none;
    border-radius: 12px;
    margin-top: 10px;
    font-family: 'Press Start 2P', sans-serif;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: var(--texto);
    color: #754121;
}


.letra {
    display: inline-block;
    width: 28px;
    height: 40px;
    margin: 0 4px;
    font-size: 24px;
    font-family: 'Press Start 2P', monospace;
    color: var(--texto);
    border-bottom: 3px solid var(--bordes);
    text-align: center;
    vertical-align: middle;
    animation: aparecer 1s ease-in-out forwards;
    transition: all 0.3s ease;
}

.hidden {
    color: transparent;
}


#letrasUsadas {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

#letrasUsadas span {
    padding: 4px 6px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}